.reviewsInputContainer {
    width: 75%
}

.reviewsTextArea {
    width: 100%;
    height: 150px;
    resize: none;

    font-size: 1rem;
    padding: 15px;
    font-family: var(--font-family);
    border-radius: 5px;;
    box-sizing: border-box;
}

.reviewsSubmitContainer {
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.starRatingContainer {
    width: 100%;
    margin-bottom: 15px;
}

.ratingRangeInput {
    width: 67%;   
}