

.registerForm,
.passwordField,
.pwStrengthContainer
{
    width: 100%
}

.registerForm,
.pwStrengthContainer {
    gap: 10px;
}

.registerHeader,
.pwTipsLabel,
li,
.pwStrengthContainer p {
    font-family: var(--font-family);
    margin: 0;
}

.pwStrengthContainer,
.registerBtn,
.pwTipsList {
    margin-top: 15px;
}

.registerHeaderRow {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    padding: 20px 25px;
}

.backIconContainer {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.backIcon {
    width: 18px;
    height: 18px;
}

.registerHeader {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;   
}

.registerForm {
    box-sizing: border-box;
    padding: 25px;
}

.passwordField {
    gap: 3px;
}

.pwStrengthBar {
    width: 65%;
    height: 4px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}    

.pwStrengthProgress {
    height: 100%;
    transition: width 0.2s ease;
    min-width: 6px;
}

.signInShortcut,
.signInShortcut:visited {
    color: #ff3c00;
    text-decoration: none;
}

.veryWeak {
    background-color: #ff0000;
}

.weak {
    background-color: #ff5100;
}

.ok {
    background-color: #ffa600;
}

.good {
    background-color: #88ff00;
}

.strong {
    background-color: #00ffdd;
}
