:root {
    --very-weak-accent: #ff0000;
    --weak-accent: #ff5100; 
    --ok-accent: #ffa600; 
    --good-accent: #88ff00;
    --strong-accent: #00ffdd;
}

.registerForm,
.passwordField,
.pwStrengthContainer
{
    width: 100%
}

.registerForm,
.pwStrengthContainer {
    gap: 10px;
}

.registerHeader {
    font-size: 1.5rem;
    margin-bottom: 30px !important;
}

.registerForm {
    padding: 20px 25px;
    box-sizing: border-box;
}

.registerField label,
.registerHeader,
.pwTipsLabel,
li,
.pwStrengthContainer p {
    font-family: var(--font-family);
    margin: 0;
}

.passwordField {
    gap: 3px;
}

.pwStrengthContainer,
.registerBtn {
    margin-top: 15px;
}

.pwStrengthBar {
    width: 65%;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    overflow: hidden;
}    

.pwStrengthProgress {
    height: 100%;
    transition: width 0.2s ease;
}

/* Range accents */
.veryWeak {
    background-color: var(--very-weak-accent);
}

.weak {
    background-color: var(--weak-accent);
}

.ok {
    background-color: var(--ok-accent);
}

.good {
    background-color: var(--good-accent);
}

.strong {
    background-color: var(--strong-accent);
}