.registerInputContainer {
    position: relative
}

.registerInput {
    padding: 5px;
    font-size: 0.95rem;
    box-sizing: border-box;
    border-radius: 3px;
    border-color: #bdbdbd;
    border-style: solid;
    width: 100%;
}

.password {
    box-sizing: border-box;
    padding-right: 35px;
}

.registerField {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.showPassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}