.headerContainer {
    padding: 15px 20px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.headerContainer,
.headerContainerL,
.headerContainerR {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerContainerL {
    gap: 13px;
    cursor: pointer;
}

.headerGuestBtns {
    gap: 5px
}

.headerIcon {
    width: 24px;
    height: 24px;
}

.headerLabel {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}
