.bookCardContainer {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;
}

.noCoverPlaceholder {
    background-color: rgb(206, 206, 206);
    height: 150px;
    width:100px;
    padding: 0px 5px;
}

.bookCoverImg,
.noCoverPlaceholder {
    border: 2px solid #000000;
}

.bookCoverImg {
    height: 150px;
    width: auto;
}

.bookTitleYear {
    box-sizing: border-box;
    min-width: 0;
    gap: 5px;
}

.bookInfoContainer {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}

.bookTitle {
    font-size: 1.1rem;
    word-break: break-word;
}

.bookTitle,
.bookAuthor {
    margin: 0px;
}